<h1>
  Resources used in the creation of this project:
</h1>
<ul>
  <li>
    <a href="https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#6">TensorFlow for Poets</a>
  </li>
  <li>
    <a href="https://auth0.com/blog/using-python-flask-and-angular-to-build-modern-web-apps-part-3/">Using Python, Angular, and Flask to Build Modern Web Apps</a>
  </li>
  <li>
    <a href="https://coursetro.com/posts/code/154/Angular-6-Tutorial---Learn-Angular-6-in-this-Crash-Course">Angular 6 Tutorial</a>
  </li>
</ul>
