body {
  margin: 0;
  background: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;

  #content {
    padding: 30px 50px;

    ul {
      list-style-type: none;
      margin:0;padding:0;

      li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color:#000000;
        }

        ul {
          margin-top: 20px;

          li {
            padding:0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

.md-button {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  color:#000000;
  padding: 0 6px 0 6px;
  //margin: 6px 8px 6px 8px;
  min-width: 150px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background: #B5B5B5;
  outline: none;
}

input[type="file"] {
  display: none;
}

.file-upload-stylized {
  font-size: 1em;
  font-weight: bold;
  color:#000000;
  padding: 0 8px 0 8px;
  //margin: 6px 8px 6px 8px;
  min-width: 150px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background: #B5B5B5;
  outline: none;
  cursor: pointer;
}
